<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{ .Title }} &middot; {{ .Site.Author.name }}</title>

    <meta name="description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.defaultDescription }}{{ end }}">
    <meta name="keywords" content="{{ range $index, $element := .Keywords }}{{ if gt $index 0 }},{{ end }}{{ . }}{{ else }}{{ .Site.Params.defaultKeywords }}{{ end }}">
    {{ with .Site.Params.googleAuthorship }}<link rel="author" href="http://plus.google.com/{{ . }}">{{ end }}
    <meta name="author" content="{{ .Site.Author.name }}">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/reveal.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/theme/{{ .Params.theme }}.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = '/css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

    <style media="screen">
    .reveal i.fa {
        font-family: 'FontAwesome';
        font-style: normal;
        font-size: 100%;

        &.small { font-size: 0.7em; }
        &.big { font-size: 2em; }
    }
    </style>

    {{ if ne .Params.css "" }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/lib/css/{{.Params.css}}">
    {{else}}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/lib/css/default-reveal.css">
    {{end}}
 

    <!--[if lt IE 9]>
    <script src="{{ .Site.BaseURL }}/lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
