<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{ .Title }} &middot; {{ .Site.Author.name }}</title>

    <meta name="description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.defaultDescription }}{{ end }}">
    <meta name="keywords" content="{{ range $index, $element := .Keywords }}{{ if gt $index 0 }},{{ end }}{{ . }}{{ else }}{{ .Site.Params.defaultKeywords }}{{ end }}">
    {{ with .Site.Params.googleAuthorship }}<link rel="author" href="http://plus.google.com/{{ . }}">{{ end }}
    <meta name="author" content="{{ .Site.Author.name }}">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/reveal.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/theme/{{ .Params.theme }}.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match( /print-pdf/gi ) ? '/css/print/pdf.css' : '/css/print/paper.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="{{ .Site.BaseUrl }}/lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

