{{ partial "preso/head" . }}

<div class="reveal">
    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
        {{ .Content }}
    {{ if ne .Params.markdown "" }}
        <section data-markdown="{{ .Params.markdown }}"
                 data-separator="^\n\n\n"
                 data-separator-vertical="^\n\n"
                 data-separator-notes="^Note:"
                 data-charset="iso-8859-15">
        </section>
    {{ end }}
    </div>

</div>

{{ partial "preso/foot" . }}
